body{
    background: white;
    padding: 0;
    text-align: center;
}
.header{

    color:white;
    background: transparent url('assets/HeroLG.svg') 70% 0% no-repeat padding-box;
    background-size: cover;
	position: relative;
	overflow: hidden;
    /* border-radius: 0 0 0 0;	 */
}


.btn{
    box-shadow: 0px 15px 58px #00000038;
    border-radius: 45px;
    color: white;
    background: rgb(255,102,0);
    background: linear-gradient(90deg, rgba(255,102,0,1) 0%, rgba(255,113,0,1) 50%, rgba(255,123,0,1) 100%);
}

.middle{
    background: white;
}


.end{
    background: #EAF7FF;
}
.title {
    color: black;
}

.bottom-left {
    position: absolute;
    bottom: 11vh;
    left: 10vh;
    color: white;
    font-weight: bold;
  }

.logo{

width: 175px;
height: 27px;
background: transparent url('assets/logo.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}


b{
    color:#0084FF;
    text-decoration: none;
    font-weight: 800;
}
