body{
    background: white;
    padding: 0;
    text-align: center;
}
header{
    padding: 60px;
    background: transparent url('assets/HeroLG.svg') 0% 0% no-repeat padding-box;
   
}

.btn{
    border-radius: 23px;

}

.jumbatron{
background: transparent;
}



.middle{
    background: white;
}


.end{
    background: #EAF7FF;
}
.title {
    color: black;
}