body{
    background: white;
    padding: 0;
    text-align: center;
}
.header{
   color:white;
    background: transparent url('assets/HeroLG.svg') 0% 0% no-repeat padding-box;
    /* border-radius:; */
}

.btn{
    border-radius: 23px;

}

.jumbatron{
background: transparent;
}



.middle{
    background: white;
}


.end{
    background: #EAF7FF;
}
.title {
    color: black;
}
.logo{
top: 26px;
left: 725px;
width: 175px;
height: 27px;
background: transparent url('assets/logo.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}